<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightUrl</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div th:replace="~{/header.html}"></div>

    <h1 class="text-center">Lista de Links</h1>

    <!-- Se houver uma mensagem, exiba-a -->
    <div th:if="${mensagem}" class="alert" role="alert">
        <p th:text="${mensagem}"></p>
    </div>

    <!-- Verifica se a lista de links não está vazia -->
    <div th:if="${not #lists.isEmpty(listLink)}" class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Link Original</th>
                    <th scope="col">Link Encurtado</th>
                    <th scope="col">Deletar</th>
                    <th scope="col">Informações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre a lista de links -->
                <tr th:each="link : ${listLink}">
                    <td>
                        <a th:href="${link.link}" th:text="${link.link}" target="_blank">Link</a>
                    </td>
                    <td th:text="'localhost:8080/link/' + ${link.linkencurtado}" scope="row"></td>
                    <td>
                        <!-- Botão de deletar -->
                        <form method="post" th:action="@{'/link/excluir/' + ${link.id}}">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                    <td>
                        <!-- Botão de informações -->
                        <a th:href="@{/link/informacoes-link/{id}(id=${link.id})}">
                            <button class="btn btn-info">Informações</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Caso a lista de links esteja vazia -->
    <div th:if="${#lists.isEmpty(listLink)}">
        <p>Nenhum link disponível.</p>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>