<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightUrl</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div th:replace="~{/header.html}"></div>

    <section>
        <div class="container">
            <form th:action="@{/link/cadastro}" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Endereço para encurtar</label>
                    <input type="text" name="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><!-- TODO: VERIFICAR SE É UMA URL VALIDA-->
                </div>
                <input type="hidden" name="id" value="08445c14-0d33-45d2-9056-29948b2e4309"><!-- TODO: FAZER DINAMICO APENAS TESTE -->
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </section>

    <!-- mensagem cadastro sucesso -->
    <div th:if="${mensagemErro}" class="alert alert-success" role="alert">
        <p th:text="${mensagemErro}"></p>
    </div>


</body>
</html>
